
<div class="section-3">
  <div class="container">
    <div class="section-3__wrap">
      <div class="section-3__image"><img src="assets/images/image-2.png" alt="Thêm Một Bạn"/></div>
      <div class="section-3__content">
        <h2 class="section-3__title">Thêm một người bạn</h2>
        <h3 class="section-3__sub-title">Thêm ngàn niềm vui</h3>
        <p class="section-3__desc">Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!</p>
        <div class="section-3__buttons"><a class="button" href="#">Giới Thiệu <i class="fa-regular fa-circle-play"></i></a><a class="button button-primiry" href="#">Khám Phá Ngay</a></div>
      </div>
    </div>
  </div>
</div>