<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.daca.vn/media/logo/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <button class="header__button-menu"><i class="fa-solid fa-bars"></i></button>
          <div class="header__logo"><a href="/"><img src="assets/images/logo.svg" alt="Monito"></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="/">Trang chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <div class="header__search">
            <form action="">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input type="text" placeholder="Nhập từ khóa...">
            </form>
          </div><a class="button button--primary" href="#">Tham gia cộng đồng</a>
          <button class="header__button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <h3 class="footer__title">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</h3>
          <form class="footer__form" action="">
            <input type="email" placeholder="Nhập email của bạn...">
            <button type="submit">Đăng Ký Ngay</button>
          </form>
        </div>
        <div class="footer__middle">
          <nav class="footer__menu">
            <ul>
              <li><a href="/">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__socials">
            <ul>
              <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="footer__copyright">© 2024 Phùng Đức Anh. All rights reserved.</div>
          <div class="footer__logo"><a href="/"><img src="assets/images/logo.svg" alt=""></a></div>
          <nav class="footer__links">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>